#moviesSlideWrapper {
  width: 100%;
  height: 45vh;
  position: relative;
  margin: 5vh 0;
  border: none;
  border-radius: 10px;
  display: flex;
}

#moviesCarousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.movieSlide {
  animation: translate 4s linear 0s 1 normal forwards;
  -webkit-animation: translate 4s linear 0s 1 normal forwards;
  -moz-animation: translate 4s linear 0s 1 normal forwards;
  -o-animation: translate 4s linear 0s 1 normal forwards;
  list-style: none;
  position: relative;
  float: left;
  margin: 0 2vh;
  height: 40vh;
  aspect-ratio: 9/16;
  transform: translateX(-26.5vh);
  border: none;
  display: flex;
  flex-direction: column;
}

.movieSlide > img {
  border-radius: 10px;
  height: 80vh;
}

#channelSlideWrapper {
  width: 100%;
  height: fit-content;
  position: relative;
  margin: 5vh 0;
  border: none;
  border-radius: 10px;
  display: flex;
  margin-bottom: 5vh;
}

#channelCarousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.channelSlide {
  animation: translateChannel 4s linear 0s 1 normal forwards;
  -webkit-animation: translateChannel 4s linear 0s 1 normal forwards;
  -moz-animation: translateChannel 4s linear 0s 1 normal forwards;
  -o-animation: translateChannel 4s linear 0s 1 normal forwards;
  list-style: none;
  position: relative;
  float: left;
  min-width: 120px;
  max-width: 120px;
  transform: translateX(-120px);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channelSlide > img {
  width: 90px;
}

@keyframes translateChannel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120px);
  }
}

@keyframes translate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-26.5vh);
  }
}

.headerSliderWrapper {
  display: flex;
  background-color: var(--HeaderColor);
  height: 40px;
  position: fixed;
  top: 75px;
  left: 0;
  overflow: hidden;
  min-width: 100%;
}

#headerCarousel {
  display: flex;
  overflow: hidden;
  min-width: 100%;
  height: 40px;
}

.headerSliderIcon {
  height: 16px;
  filter: invert(1);
  margin-right: 4px;
}

.headerSlider {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;

  animation: sliderHeader 1s linear 0s 1 normal forwards;
  -webkit-animation: sliderHeader 1s linear 0s 1 normal forwards;
  -moz-animation: sliderHeader 1s linear 0s 1 normal forwards;
  -o-animation: sliderHeader 1s linear 0s 1 normal forwards;
}

.headerSliderText {
  font-size: 16x;
}

.headerSliderButtonsWrapper {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  filter: invert(1);
  margin-top: 8px;
  z-index: 100;
}

.headerSliderBtns {
  z-index: 101;
  cursor: pointer;
  height: 18px;
}

@keyframes sliderHeader {
  30% {
    transform: translateX(10vw);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 1;
  }
}

.headerSliderReverse {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);

  animation: sliderReverseHeader 1s linear 0s 1 normal forwards;
  -webkit-animation: sliderReverseHeader 1s linear 0s 1 normal forwards;
  -moz-animation: sliderReverseHeader 1s linear 0s 1 normal forwards;
  -o-animation: sliderReverseHeader 1s linear 0s 1 normal forwards;
}

@keyframes sliderReverseHeader {
  30% {
    transform: translateX(-10vw);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

.streamingPlatformsContainer {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 24px;
}
.streamingPlatformsContainer > h2 {
  font-size: 2.575rem;
  line-height: 5.25rem;
  font-weight: 600;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  .streamingPlatformsContainer > h2 {
    font-size: 2rem;
  }
  .headerSliderButtonsWrapper {
    justify-content: space-between;
    margin: 0 5vw;
    width: 90vw;
  }
}

@media (max-width: 425px) {
  .streamingPlatformsContainer > h2 {
    font-size: 1.8rem;
    width: 90%;
    line-height: 2rem;
    margin: 0 auto;
  }

  .streamingPlatformsContainer {
    margin-bottom: 0px;
  }
  .headerSliderText {
    font-size: 12px;
  }
}

#streamingPlatformsContainer {
  width: 100%;
  height: fit-content;
  position: relative;
  margin: 5vh 0;
  border: none;
  border-radius: 10px;
  display: flex;
  margin-bottom: 5vh;
  overflow: hidden;
}

#streamingPlatformsCarousel {
  display: flex;
}

.streamingPlatformsSlide {
  animation: translateStreamPlat 4s linear 0s 1 normal forwards;
  -webkit-animation: translateStreamPlat 4s linear 0s 1 normal forwards;
  -moz-animation: translateStreamPlat 4s linear 0s 1 normal forwards;
  -o-animation: translateStreamPlat 4s linear 0s 1 normal forwards;
  list-style: none;
  position: relative;
  float: left;
  min-width: 120px;
  max-width: 120px;
  margin: 0 30px;
  transform: translateX(-180px);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.streamingPlatformsSlide > img {
  width: 90px;
}

@keyframes translateStreamPlat {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-180px);
  }
}
