.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content, .modal-content2, .modal-content3{
  background-color: #161616;
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  width: 80%;
  animation-name: modalOpen;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  transition: all 0.3s;
  border-radius: 1rem;
  padding-left: 10px;
  overflow: hidden !important;
  padding-bottom: 40px;
}


.modal-content .scroll > p , .modal-content2 .scroll > p{
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  color: var(--TextColorMedium);
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 1.1rem;
}

.modal-contentLeave {
  animation-name: modalClose;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  overflow: hidden !important;
}

@keyframes modalOpen {
  from {
    height: 0px;
  }
  to {
    height: 600px;
  }
}

@keyframes modalClose {
  from {
    height: 600px;
  }
  to {
    height: 0px;
    padding: 0px;
  }
}

.closeBtn, .closeBtn2, .closeBtn3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus, .closeBtn2:hover,
.closeBtn2:focus, .closeBtn3:hover,
.closeBtn3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 30px;
  border-bottom: solid 1px #c2c2c2;
}

.modal-content__list {
  margin: 0 auto;
}

.scroll {
  overflow-y: auto;
  height: 503px;
  padding-bottom: 40px;
}

.scroll::-webkit-scrollbar {
    width: 13px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 12px;
    border: 2px solid #ffffff;
}

.scroll::-webkit-scrollbar-track {
    background: whitesmoke;
    border-bottom-right-radius: 20px;
}

.modal-content__list > .modal-content__item > h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.modal-content__list > .modal-content__item > p {
  width: 97%;
  margin: 0 auto;
  margin-top: 10px;
  color: var(--TextColorMedium);
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 1.1rem;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  text-align: justify;
}


.containerImg{
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 20px;
  gap: 20px;
  padding-left: 20px;
 }
 .containerImg > img{
  width: 100px;
 }

 
.modal > .modalContact{
  max-height: 440px;
 }
 
 @media (max-width: 645px) {
 .containerImg > h2 {
  font-size: 1.2rem;
 }

 .containerImg > img{
  width: 80px;
 }


 .modalContact{
  max-height: 440px;
 }
 }

 @media (max-width: 425px) {
  .containerImg{
    width: 85%;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
  }
  .containerImg > h2 {
   font-size: 1rem;
  }
 
  .containerImg > img{
   width: 60px;
  }
 
}
