.pageWapper {
  overflow: hidden;
  max-width: 100%;
}
/* Header */
/* Header desktop */
.containerHeader {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  z-index: 100;
  background-color: var(--HeaderColor);
  height: 75px;
}

.containerHeader > .containerHeader__logo {
  width: 180px;
  height: auto;
}

.containerButton {
  display: flex;
  gap: 30px;
}

.containerButton__buttonLink,
.containerItens__buttonLink {
  cursor: pointer;
  display: flex;
  border: none;
  padding: 0.75rem 1rem;
  text-align: center;
  transition: color 200ms ease-out;
  color: var(--HeaderButtonColor);
  background-color: transparent;
  font-weight: 500;
  text-decoration: none;
}

.containerButton__buttonLink:hover,
.containerItens__buttonLink:hover {
  color: white;
  border-color: white;
}

.borderEnabled {
  border: 1px solid var(--HeaderButtonColor);
  border-radius: 0.5rem;
  width: 120px;
  text-align: center;
}

/* Header Mobile */
.mobileHeader {
  position: fixed;
  z-index: 2;
  display: none;
}

.containerHeader__burgerIcon > img {
  width: auto;
  height: 50px;
}

@keyframes headerMobileAnimeEnter {
  from {
    top: -90px;
  }
  to {
    top: 75px;
  }
}

@keyframes headerMobileAnimeLeave {
  from {
    display: flex;
    top: 75px;
  }
  to {
    top: -90px;
    display: none;
  }
}

.containerItens {
  display: none;
  position: fixed;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
  left: 0px;
  background-color: var(--HeaderColor);
  animation-name: headerMobileAnimeEnter;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  z-index: 1;
  padding-bottom: 1rem;
  gap: 10px;
  border-bottom: 1px solid rgba(120, 140, 160, 0.4);
}

.hidden {
  display: none;
}

.containerItensClose {
  animation-name: headerMobileAnimeLeave;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@media (max-width: 768px) {
  .desktopHeader {
    display: none;
  }

  .containerItens {
    display: flex;
  }

  .mobileHeader {
    display: flex;
  }
}

/* Main */

.background-shape-left {
  position: absolute;
  left: 0%;
  top: -10rem;
  right: auto;
  bottom: auto;
  z-index: -1;
  max-width: 50%;
}

.background-shape-rigth {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  max-width: 60%;
}

/*container Player */

.containerPlayer {
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
}

/* container Info */

.containerInfo {
  gap: 10px;
  margin: 0 auto;
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerInfo > h2 {
  width: 90%;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3.375rem;
  line-height: 5.25rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.containerInfo > p {
  width: 80%;
  text-align: center;
  font-size: 1.375rem;
  line-height: 2rem;
  letter-spacing: 0.25px;
  color: var(--TextColorMedium);
}

.containerInfo > a {
  display: flex;
  padding: 0.75rem 1.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 200ms ease;
  color: var(--ButtonTextColor);
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  gap: 5px;
}

.containerInfo > a:hover {
  background-color: var(--HoverColorPrimary);
  color: var(--HoverColorSecodary);
}

@media (max-width: 1024px) {
  .containerInfo > h2 {
    font-size: 2.375rem;
  }

  .containerInfo > p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .containerInfo > h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .containerInfo > p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Planos */

.containarPlans {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.containarPlans__items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  margin-top: 80px;
}

.containarPlans > h2 {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3.375rem;
  line-height: 5.25rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.containarPlans__item {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.containarPlans__item__Primary {
  padding: 20px;
  border: 2px solid rgba(120, 140, 160, 0.4);
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 1rem;
}

.containarPlans__price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--BenefistColor);
}

.containarPlans__price > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.875rem;
  line-height: 2.625rem;
  font-weight: 500;
}

.containarPlans__price > p {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-top: 14px;
  margin-bottom: 13px;
}

.containarPlans__price > .oldValue {
  text-decoration-line: line-through;
  color: red;
  margin: 0px;
  font-size: 2rem;
  margin-top: 14px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.containarPlans__price > a {
  cursor: pointer;
  display: flex;
  border: none;
  padding: 0.75rem 1rem;
  transition: color 200ms ease-out;
  color: var(--HeaderButtonColor);
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid var(--HeaderButtonColor);
  border-radius: 0.5rem;
  animation: pulse 1.5s ease-out infinite;
}

.containarPlans__price > a:hover {
  color: white;
  border-color: white;
}

.containarPlans__price > .containarPlans__button {
  display: flex;
  padding: 0.75rem 1.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 200ms ease;
  color: var(--ButtonTextColor);
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  gap: 5px;
}

.containarPlans__price > .containarPlans__button:hover {
  background-color: var(--HoverColorPrimary);
  color: var(--HoverColorSecodary);
  border: 1px solid var(--HoverColorPrimary);
}

.containerBenefits__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
}

.containerBenefits__list > .containerBenefits {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.containerBenefits > p {
  font-size: 1.375rem;
  line-height: 2rem;
  letter-spacing: 0.25px;
  color: var(--BenefistColor);
  text-align: left;
}

.containerBenefits > svg {
  color: var(--HoverColorPrimary);
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .containarPlans__item {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .containarPlans__item {
    width: 250px;
  }

  .containarPlans__item__Primary {
    width: 100%;
  }

  .containarPlans__items {
    flex-wrap: wrap;
  }

  .containarPlans > h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .containarPlans__price > p {
    font-size: 2.5rem;
  }
}

@media (max-width: 672px) {
  .containarPlans__item {
    width: 100%;
    padding: 20px;
    border: 2px solid rgba(120, 140, 160, 0.4);
    border-radius: 1rem;
  }

  .containerBenefits > p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
    line-height: 1.8rem;
  }

  .containarPlans__price {
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .containarPlans > h2 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

/* tv Box */
.containerTvBox {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  height: 648px;
}

.containerTvBox > img {
  width: 60%;
  height: 648px;
  border-radius: 0px 1rem 1rem 0px;
  object-fit: cover;
  object-position: center;
  margin-top: 60px;
}

.containerTvBox__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: hsla(0, 0%, 100%, 0.05);
  height: 100%;
  border-radius: 1rem 0px 0px 1rem;
  margin-top: 60px;
}

.containerTvBox__price > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.5rem;
  line-height: 4.25rem;
  font-weight: 600;
}

.containerTvBox__price > p {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 700;
}

.containerTvBox__price > a {
  display: flex;
  padding: 0.75rem 1.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 200ms ease;
  color: var(--ButtonTextColor);
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  gap: 5px;
  animation: pulse 1.5s ease-out infinite;
}

.containerTvBox__price > a:hover {
  background-color: var(--HoverColorPrimary);
  color: var(--HoverColorSecodary);
}

@media (max-width: 768px) {
  .containerTvBox {
    flex-direction: column;
  }

  .containerTvBox > img {
    width: 100%;
    border-radius: 0px 0px 1rem 1rem;
    margin-top: 0px;
  }

  .containerTvBox__price {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 20px;
    border-radius: 1rem 1rem 0px 0px;
  }
}

@media (max-width: 425px) {
  .containerTvBox__price > h2 {
    font-size: 2rem;
  }
}

/* Family */

.containerFamily {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}

.containerFamily > h2 {
  font-size: 2.575rem;
  line-height: 5.25rem;
  font-weight: 600;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  .containerFamily > h2 {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .containerFamily > h2 {
    font-size: 1.8rem;
    width: 90%;
    line-height: 2rem;
    margin: 0 auto;
  }

  .containerFamily {
    margin-bottom: 0px;
  }
}
/* Channels */

.containerChannels {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.containerChannels > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.8rem;
  line-height: 3.25rem;
  font-weight: 600;
  margin-bottom: 60px;
}

.containerChannels__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 40px;
}

.containerChannels__list > details {
  display: flex;
  height: 60px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  transition: all 1s;
  padding-left: 10px;
  transition: all 1s ease;
  overflow: hidden;
  cursor: pointer;
}

.containerChannels__list > details > summary {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.containerChannels__list > details > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;

  height: auto;
}

.containerChannels__list > details > ul > li {
  width: 200px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--TextColorMedium);
}

.containerChannels__list > details > ul > li > img {
  clip-path: inset(4px 4px 4px 4px);
}

.containerChannels__list > details:hover {
  padding-left: 10px;
}

.containerChannels__list > details::summary {
  transition: all 1s ease;
}

.containerChannels__list > details > summary::-webkit-details-marker {
  display: none;
}

.containerChannels__list > details > summary:after {
  content: "⌵";
  color: #fff;
  float: right;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 20px;
  left: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.containerChannels__list > details[open] {
  height: 400px;
  max-height: fit-content;
}

.containerChannels__list > .detailsqnt7[open] {
  height: calc(300px * 2 + 100px);
}

@keyframes channelsLeave {
  from {
    height: fit-content;
  }
  to {
    height: 60px;
  }
}

.containerChannels__list > .channelsLeave {
  animation: channelsLeave 0.3s ease;
  animation: forwards;
  height: 35px !important;
}

@media (max-width: 1465px) {
  .containerChannels__list > .detailsqnt5[open] {
    height: calc(300px * 2.2 + 100px);
  }
}

@media (max-width: 1150px) {
  .containerChannels__list > .detailsqnt4[open] {
    height: calc(300px * 2 + 100px);
  }

  .containerChannels__list > .detailsqnt7[open] {
    height: calc(300px * 3.2 + 100px);
  }
}

@media (max-width: 882px) {
  .containerChannels__list > .detailsqnt5[open] {
    height: calc(300px * 3.2 + 100px);
  }
}

@media (max-width: 768px) {
  .containerChannels > h2 {
    font-size: 2.3rem;
    line-height: 2.75rem;
  }

  .containerChannels__list > details > ul {
    gap: 20px;
  }

  .containerChannels__list > .detailsqnt7[open] {
    height: calc(300px * 4.2 + 100px);
  }
}

@media (max-width: 580px) {
  .containerChannels__list > details > ul {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .containerChannels__list > .detailsqnt2[open] {
    height: calc(300px * 2.2 + 100px);
  }

  .containerChannels__list > .detailsqnt4[open] {
    height: calc(300px * 4.2 + 100px);
  }

  .containerChannels__list > .detailsqnt5[open] {
    height: calc(300px * 5.2 + 100px);
  }

  .containerChannels__list > .detailsqnt7[open] {
    height: calc(300px * 7.4 + 100px);
  }
}

/* service info */
.containerServicesInfo {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 40px;
}

.containerServicesInfo__title {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}

.containerServicesInfo__title > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.8rem;
  line-height: 3.25rem;
  font-weight: 600;
}

.containerServicesInfo__list {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.containerServicesInfo__item {
  width: 45%;
  display: flex;
  flex-direction: column;
}

@keyframes pulse2 {
  0% {
    padding: 2px;
    transform: scale(1);
  }
  50% {
    padding: 8px;
    transform: scale(1.05);
  }
  100% {
    padding: 2px;
    transform: scale(1);
  }
}

.containerServicesInfo__image {
  width: 99px;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.containerServicesInfo__image > img {
  margin-bottom: 10px;
  border: 2px dashed white;
  border-radius: 50%;
  animation: pulse2 3s ease infinite;
}

.containerServicesInfo__image > .purple {
  border-color: #7e35f8;
}

.containerServicesInfo__image > .orange {
  border-color: #e36b0a;
}

.containerServicesInfo__image > .red {
  border-color: #d45241;
}

.containerServicesInfo__image > .blue {
  border-color: #0061fc;
}

.containerServicesInfo__image > .green {
  border-color: #2ea82f;
}

.containerServicesInfo__item > h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.875rem;
  line-height: 2.2rem;
  font-weight: 500;
}

.containerServicesInfo__item > p {
  margin-bottom: 0rem;
  color: #788ca0;
  letter-spacing: 0.25px;
}

@media (max-width: 1300px) {
  .containerServicesInfo__item {
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .containerServicesInfo {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .containerServicesInfo__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .containerServicesInfo__list {
    width: 100%;
  }
  .containerServicesInfo__title > h2 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

@media (max-width: 672px) {
  .containerServicesInfo__item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

/* web player */
.containerWebPlayer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 120px;
}

.containerWebPlayer > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.8rem;
  line-height: 3.25rem;
  font-weight: 600;
}

.containerWebPlayer > a {
  border-color: transparent;
  background-color: rgba(120, 140, 160, 0.4);
  color: #fff;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding: 0.75rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  transition-duration: 200ms;
  line-height: 1.75rem;
  font-weight: 600;
  text-decoration: none;
}

.containerWebPlayer > a:hover {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(120, 140, 160, 0.4);
  background-color: transparent;
  color: #788ca0;
}

.containerWebPlayer__infos {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 180px;
}

.containerWebPlayer__infos > img {
  width: 50%;
  min-width: 320px;
  border-radius: 1rem;
}

.containerWebPlayer__title {
  width: 50%;
}

.containerWebPlayer__title > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.containerWebPlayer__title > p {
  width: 90%;
  color: var(--TextColorMedium);
  font: 400;
  font-size: 1.2rem;
}

.containerWebPlayer__title > a {
  display: flex;
  width: 120px;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 200ms ease;
  color: var(--ButtonTextColor);
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  gap: 5px;
}

.containerWebPlayer__title > a:hover {
  color: var(--HoverColorSecodary);
  background-color: var(--HoverColorPrimary);
}

.containerWebPlayer__title > ul {
  list-style: none;
  text-align: left;
  padding: 0px;
}

.containerWebPlayer__title > ul > li {
  color: var(--TextColorMedium);
  font: 400;
  font-size: 1.2rem;
}

.containerWebPlayer__title > ul > li > svg {
  color: var(--HoverColorPrimary);
}

@media (max-width: 768px) {
  .containerWebPlayer__title > h2 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  .containerWebPlayer__title > p {
    font-size: 1rem;
  }

  .containerWebPlayer__title > ul > li {
    color: var(--TextColorMedium);
    font: 400;
    font-size: 1rem;
  }
}

@media (max-width: 672px) {
  .containerWebPlayer {
    text-align: center;
    margin-bottom: 60px;
  }

  .containerWebPlayer > h2 {
    font-size: 2.3rem;
    line-height: 2.75rem;
  }

  .containerWebPlayer__infos {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 130px;
  }

  .containerWebPlayer__infos > img {
    width: 100%;
    min-width: 290px;
    min-height: 200px;
  }

  .containerWebPlayer__title {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .containerWebPlayer__title > h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .containerWebPlayer__title > p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    width: 100%;
  }

  .containerWebPlayer__title > a {
    width: 90px;
  }

  .containerWebPlayer__title > ul {
    text-align: left;
  }
}

/* Avaliação do usuario */

.containerUserRating {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.containerUserRating > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.8rem;
  line-height: 3.25rem;
  font-weight: 600;
  margin-bottom: 60px;
}

.containerUserRating__list {
  display: flex;
  width: 100%;
  gap: 20px;
}

.containerUserRating__item {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-start;
  height: auto;
  background-color: hsla(0, 0%, 100%, 0.05);
  width: calc(100% / 3);
  padding: 20px;
  border-radius: 1rem;
}

.containerUserRating__title {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: left;
  gap: 5px;
  height: 60%;
}

.containerUserRating__title > img {
  margin-bottom: 20px;
}

.containerUserRating__title > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 20px;
}

.containerUserRating__title > p {
  width: 90%;
  color: var(--TextColorMedium);
  font: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 0px;
  padding: 0px;
}

.containerUserRating__star > img {
  width: 25px;
}

.containerUserRating__user {
  display: flex;
  width: 100%;
  gap: 10px;
}

.containerUserRating__user > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
}

.containerUserRating__user__title {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 0px;
  height: 45px;
  width: 100%;
}

.containerUserRating__user__title > h4 {
  margin-bottom: 0px;
  padding: 0px;
  line-height: 0px;
}

.containerUserRating__user__title > p {
  width: 90%;
  color: var(--TextColorMedium);
  font: 400;
  font-size: 0.8rem;
  line-height: 10px;
}

@media (max-width: 768px) {
  .containerUserRating__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerUserRating__item {
    width: 100%;
  }

  .containerUserRating > h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .containerUserRating__title > h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

/* Player Rating */
.containerPlayerRating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
}

/* FAQ */
.containerFaq {
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerFaq > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.8rem;
  line-height: 3.25rem;
  font-weight: 600;
  margin-bottom: 60px;
}

.containerFaq__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 40px;
}

.containerFaq__list > details {
  display: flex;
  height: 60px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  transition: all 0.5s;
  padding-left: 10px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.containerFaq__list > details:hover {
  padding-left: 30px;
}

.containerFaq__list > details::summary {
  transition: all 0.5s ease;
}

.containerFaq__list > details[open] {
  height: 180px;
}

.containerFaq__list > details > summary {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.containerFaq__list > details > summary::-webkit-details-marker {
  display: none;
}
.containerFaq__list > details > summary:after {
  content: "⌵";
  color: #fff;
  float: right;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 20px;
  left: 20px;
  margin-right: 10px;
}

.containerFaq__list > details > p {
  width: 90%;
  color: var(--TextColorMedium);
  font: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 40px;
}

@media (max-width: 1050px) {
  .containerFaq__list > .containerFaq__item[open] {
    height: 240px;
  }

  .containerFaq__list > details > summary {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .containerFaq__list {
    padding: 0px;
    margin: 0px;
  }

  .containerFaq__list > details > summary {
    font-size: 1.4rem;
  }

  .containerFaq__list > details > p {
    font-size: 0.9rem;
  }
}

@media (max-width: 660px) {
  .containerFaq {
    width: 80%;
  }

  .containerFaq__list > .containerFaq__item[open] {
    height: 220px;
  }

  .containerFaq__list > .containerFaq__item[open] {
    padding-left: 10px;
  }

  .containerFaq__list > details:hover {
    padding-left: 10px;
  }
}

@media (max-width: 550px) {
  .containerFaq__list > .containerFaq__item[open] {
    height: 300px;
  }

  .containerFaq__list > details > summary:after {
    content: "";
    color: #fff;
    float: right;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width: 0px;
    left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 425px) {
  .containerFaq__list > .containerFaq__item[open] {
    height: 360px;
  }

  .containerFaq__list > details[open] {
    height: 240px;
  }
}

@media (max-width: 325px) {
  .containerFaq__list > details[open] {
    height: 250px;
  }
}

@keyframes detailsLeave {
  from {
    height: 200px;
  }
  to {
    height: 60px;
  }
}

.containerFaq__list > .detailsLeave {
  animation: detailsLeave 0.3s ease;
  animation: forwards;
  height: 50px !important;
}

/*  news  */

.containerNews {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.containerNews__title {
  text-align: center;
}

.containerNews__title > h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.8rem;
  line-height: 3.25rem;
  font-weight: 600;
}

.containerNews__title > p {
  color: var(--TextColorMedium);
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}

.containerNews__list {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
  height: fit-content;
  margin-top: 40px;
}

.containerNews__list > li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(80% / 3);
}

.containerNews__list > li > p {
  color: var(--TextColorMedium);
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}

.containerNews__logo {
  height: 70px;
}

.containerNews__logo > img {
  height: 60px;
  width: auto;
}

@media (max-width: 672px) {
  .containerNews__title > h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .containerNews__list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

@media (max-width: 425px) {
  .containerNews__title > h2 {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

/* footer */
.containerFooter {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.containerFooter__infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.containerFooter__logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerFooter__logo > img {
  width: 180px;
  height: auto;
}

.containerFooter__logo > p {
  font-size: 1em;
  line-height: 1.25;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 0px;
  margin: 0px;
}

.containerFooter__list {
  list-style: none;
  display: flex;
  gap: 20px;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end;
}

.containerFooter__list > li {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.containerFooter__list > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: color 200ms ease-out;
  color: var(--BenefistColor);
  font-weight: 500;
  text-decoration: none;
}

.containerFooter__list > li > a:hover {
  color: white;
}

.containerCopyrigth {
  display: flex;
  gap: 12px;
}

.containerCopyrigth > span {
  font-size: 0.7em;
  line-height: 1.25;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 0px;
  margin: 0px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .containerCopyrigth {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 672px) {
  .containerFooter__infos {
    flex-direction: column;
  }

  .containerFooter__list {
    width: 100%;
    gap: 20%;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .containerFooter__list > li > h2 {
    font-size: 1.1rem;
  }
  .containerFooter__list > li > a {
    font-size: 0.9rem;
  }

  .containerFooter__logo {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .containerCopyrigth {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .containerFooter__list {
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
